<div class="row">
    <div class="col">
        <h4>Asignar Gestor de proyectos: </h4>
    </div>
    <div class="col">
        <select class="form-control" [(ngModel)]="gestorProyectos" [ngModelOptions]="{ standalone: true }">
            @for (empleado of empleadoMostrar('Gestor de proyectos'); track empleado.nombre) {
                <option [ngValue]="empleado">{{ empleado.nombre }}</option>
            }
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Asignar Gestor de Expertos: </h4>
    </div>
    <div class="col">
        <select class="form-control" [(ngModel)]="gestorExpertos" [ngModelOptions]="{ standalone: true }">
            @for (empleado of empleadoMostrar('Gestor de expertos'); track empleado.nombre) {
                <option [ngValue]="empleado">{{ empleado.nombre }}</option>
            }
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Asignar Comercial: </h4>
    </div>
    <div class="col">
        <select class="form-control" [(ngModel)]="comercial" [ngModelOptions]="{ standalone: true }">
            @for (empleado of empleadoMostrar("Comercial"); track empleado.nombre) {
                <option [ngValue]="empleado">{{ empleado.nombre }}</option>
            }
        </select>
    </div>
</div>

<button class="btn btn-primary" (click)="asignarEmpleados()">Asignar</button>
